body {
        margin: 0;
        padding: 0;
        font-family: 'Inter', sans-serif;
        background: #f0f2f5;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        animation: fadeIn 0.7s ease;
    }

    @keyframes fadeIn {
        from { opacity: 0; transform: translateY(10px); }
        to   { opacity: 1; transform: translateY(0); }
    }

    .wrapper {
        display: flex;
        gap: 120px;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    
    .levo {
        max-width: 400px;
        animation: fadeIn 1.1s ease;
    }

    .naslov {
        font-size: 52px;
        font-weight: 700;
        color: #1877f2; 
        margin-bottom: 10px;
    }

    .podnaslov {
        font-size: 25px;
        color: #333;
        line-height: 1.3;
    }

    
    .okvir {
        width: 270px;
        background: white;
        padding-right:60px;
		padding-top:10px;
		padding-left:30px;
		padding-bottom:20px;
        border-radius: 10px;
        box-shadow: 0 4px 16px rgba(0,0,0,0.15);
        animation: fadeIn 1.3s ease;
		
    }

    input {
        width: 100%;
        padding: 14px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 16px;
        transition: 0.2s ease;
        background: #fafafa;
    }

    input:focus {
        background: #fff;
        border-color: #3e63ff;
    }

    .login-gumb {
        width: 112%;
        background: #1877f2;
        padding: 14px;
		padding:14px;
        border: none;
        color: white;
        font-size: 18px;
        font-weight: 600;
        border-radius: 8px;
        margin-top: 10px;
        cursor: pointer;
        transition: 0.2s ease;
		text-align:center;
    }

    .login-gumb:hover {
        background: #2f4ed6;
    }

    .link {
        display: block;
        text-align: center;
        color: #3e63ff;
        text-decoration: none;
        margin: 12px 0;
        font-size: 14px;
        font-weight: 500;
    }

    .divider {
        width: 100%;
        height: 1px;
        background: #ddd;
        margin: 16px 0;
    }

    .create-gumb {
        width: 61%;
        padding: 14px;
        border: none;
        background: #42c05a;
        color: white;
        font-size: 16px;
        font-weight: 600;
        margin: 0 auto;
        display: block;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.2s ease;
		
    }

    .create-btn:hover {
        background: #35a94b;
    }

    